html {
    scroll-behavior: smooth;
}

.status {
    opacity: 1;
    transition: opacity 0.5s ease;
}

.status.hidden {
    opacity: 0;
    pointer-events: none;
}

.status.success {
    background: #d4edda;
    color: #155724;
}

.status.error {
    background: #f8d7da;
    color: #721c24;
}

.contact-card.not-read{
    color : #000000
}

.contact-card.read {
    color: darkgray
}

.hide {
    display: none;
}

.charts {
    width: 100%;
    max-width: 600px;
    height: 300px;
    position: relative;
}